{% extends "admin_index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-11">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Product List</h6>
          </div>
        </div>
        {% if msg %}
        <div style="margin: 3em; font-weight: bold;" class="alert alert-danger" role="alert">
          {{msg}}
        </div>
        {% endif %}
        <div class="card-body">
          <div class="table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in product_lst %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{item.p_name}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">{{item.p_desc}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <img src="{{item.p_img}}" class="avatar avatar-sm me-3" alt="xd">
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs text-secondary mb-0">{{item.p_price}}</p>
                  </td>
                  <input type="hidden" id="product_name_id" value="{{item.p_name}}">
                  <input type="hidden" id="product_desc_id" value="{{item.p_desc}}">
                  <input type="hidden" id="product_price_id" value="{{item.p_price}}">

                  <td class="align-middle">
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick='edit_product()'>
                      Edit
                    </a>
                    </td>
                </tr>
                {% endfor %}
                
 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create New Product
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Create Brand</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="product_frm_id" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Name</label>
                  <input type="text" id="p_name" name="p_name" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-outline my-3">
                  <input type="hidden" id="type_id" name="type_id" value="" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-outline is-valid my-3">
                  <textarea class="form-control" id="p_desc" placeholder="description" name="p_desc"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select Brand</label>
                  <select class="form-control" style="border: 1px solid lightgrey; padding: 0.4em;" id="exampleFormControlSelect1" name="brand_id">
                    {% for brand in brand_lst %}
                    <option value="{{brand.id}}">{{brand.b_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select Category</label>
                  <select class="form-control" style="border: 1px solid lightgrey; padding: 0.4em;"  id="exampleFormControlSelect1" name="category_id">
                    {% for category in category_lst %}
                    <option value="{{category.id}}">{{category.c_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">price</label>
                    <input type="text" id="p_price" name="p_price" class="form-control">
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-outline my-3">
                  <input type="file" id="p_img" name="p_img" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-primary" name="form1-submit">Save</button>
              
              <button type="submit" class="btn btn-warning" onclick='set_id("{{item}}")' name="form2-delete">Delete</button>
            </div>
          </form>
          
          
        </div>
        
      </div>
    </div>
  </div>

</div>
<script>
  function edit_product(){
    document.getElementById("p_name").value = document.getElementById("product_name_id").value;
    document.getElementById("p_desc").value = document.getElementById("product_desc_id").value;
    document.getElementById("type_id").value = document.getElementById("product_price_id").value;
  }

  function set_id(item){
    item = item.replace(/'/g, '"');
    item = item.replace(/\r?\n/g, "\\n"); 
    item = JSON.parse(item);
    document.getElementById("type_id").value = item['id'];
  }
</script>
{% endblock %}