{% extends "admin_index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    
    <div class="col-11">
      
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">User List</h6>
          </div>
        </div>
        
        <div class="card-body">
          {% if code == 200 or code == 201 and status %}
          <div class="alert alert-success" role="alert">
            <strong>{{status}}</strong>
          </div>
          {% elif code != 200 and status %}
          <div class="alert alert-danger" role="alert">
            <strong>{{status}}</strong>
          </div>
          {% endif %}
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Is Staff</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Account Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Products Bought</th>

                  <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th> -->
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for user in user_lst %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{user.name}}</h6>
                      </div>
                    </div>
                  </td>
   
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.is_staff}}</p>
                  </td>
                  {% if user.is_active %}
                  <td class="align-middle text-center text-sm" style="text-align: initial !important;">
                    <span class="badge badge-sm bg-gradient-success" id="onlineBadge_{{ user.id }}"><a onclick="change_status('{{user.id}}')">Online</a></span>
                  </td>
                  {% else %}
                  <td class="align-middle text-center text-sm" style="text-align: initial !important;">
                    <span class="badge badge-sm bg-gradient-dark" id="onlineBadge_{{ user.id }}"><a onclick="change_status('{{user.id}}')">Online</a></span>
                  </td>
                  {% endif %}
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.product_cnt}}</p>
                  </td>
  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  function change_status(user_id) {
      var csrftoken = getCookie('csrftoken');
      $.ajax({
          type: 'POST',
          url: "{% url 'user_lst' %}",
          headers: {
              'X-CSRFToken': csrftoken
          },
          data: {
              'user_id': user_id
          },
          success: function(data) {
              console.log(data);
              var onlineBadge = document.getElementById("onlineBadge_"+data['user_id']);
              // Check if the element has the 'bg-gradient-success' class
              if (onlineBadge.classList.contains("bg-gradient-success")) {
                // Remove the 'bg-gradient-success' class
                onlineBadge.classList.remove("bg-gradient-success");
                // Add the 'bg-gradient-dak' class
                onlineBadge.classList.add("bg-gradient-dark");
              } else if (onlineBadge.classList.contains("bg-gradient-dark")) {
                // Remove the 'bg-gradient-dak' class
                onlineBadge.classList.remove("bg-gradient-dark");
                // Add the 'bg-gradient-success' class
                onlineBadge.classList.add("bg-gradient-success");
              }
          }
      });
  }


  // Helper function to retrieve the CSRF token value from a cookie
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
          }
      }
      return cookieValue;
      }
  
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="your-script.js"></script>
{% endblock %}